@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #196ee6;
  --color-background-light: #f6f7f8;
  --color-background-dark: #111821;
  --color-surface-dark: #1c2430;
  --color-border-dark: #292f38;
  --color-text-secondary: #9da9b8;

  --font-display: "Manrope", sans-serif;
}

@layer base {
  /* Custom scrollbar for webkit */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-track {
    background: var(--color-background-dark);
  }
  ::-webkit-scrollbar-thumb {
    background: var(--color-border-dark);
    border-radius: 4px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #3c4553;
  }
}

body {
  @apply bg-background-light text-slate-900 font-display min-h-screen flex flex-col overflow-hidden dark:bg-background-dark dark:text-slate-100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
